@font-face {
  font-family: 'Geist Regular';
  font-weight: 400;
  font-style: normal;
  src: local('Geist Regular') 
    url(./Geist/Geist-Regular.otf) format(truetype);
}

@font-face {
  font-family: 'Geist Bold';
  src: url(./Geist/Geist-Bold.otf);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Geist Regular', serif;
}



.container {
  max-inline-size: 1200px;
  margin-inline: auto;
}

:is(h1, h2, h3) {
  font-family: 'Geist Bold', sans-serif;
}

.flex-container {
  display: flex;
  inline-size: 400px;
  block-size: 200px;
  background-color: teal;
  & .flex-item {
    inline-size: 10%;
    block-size: 10%;
    object-fit: cover;
  }
}

/* 

auto-fit --> ajusta contenido
auto-fill --> rellena huecos

En este ejemplo se ve claro intercambia los valores
*/

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: .5rem;
  margin-block-start: 50px;
  background-color: black;
  & .grid-item {
    inline-size: 100%;
    /* block-size: 90px; */
    max-block-size: 100%;
    object-fit: cover;

  }

}